:root{
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Young Serif', sans-serif;
    background-color: var(--Stone-100);
    display: grid;
    place-items: center;
    padding: 5em;
    
}

.container{
    max-width: 48em;
    height: auto;
    background-color: var(--White);
    padding: 20px;
    border-radius: 20px;
    
   
}

.title img{
    width: 100%;
    display: block;
    border-radius: 20px;
    margin-bottom: 30px;
}

.title h1{
    padding-left: 15px;
    margin-bottom: 20px;
    font-weight: 400;
}

.title p{
    opacity: 0.75;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.preparation{
    background-color: var(--Rose-50);
    padding: 12px;
    border-radius: 20px;
    
    
}

.preparation h2{
    color: var(--Rose-800);
    padding: 10px;
}

ol, ul{
    padding: 0 2em;
    
}

.preparation li{
    opacity: 0.75;
    line-height: 2.5;
    margin-left: 10px;
}

.preparation li::marker{
    color:var(--Rose-800);
}


.ingredients{
    
    border-bottom: 1px solid rgb(72, 72, 72);
    margin-bottom: 20px;

}


.ingredients h1{
    color: var(--Brown-800);
    padding-left: 12px ;
   
}

.ingredients li{
    opacity: 0.8;
    line-height:2;
}

.ingredients li::marker{
    color: var(--Brown-800);
}


.instructions{
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.instructions h1{
    padding-left: 15px;
    font-weight: 500;
    color: var(--Brown-800);
    
}

.instructions li{
    line-height: 1.8;
}

.nutrition h1{
    padding-left: 15px;
    font-weight: 500;
    color: var(--Brown-800);
}

.nutrition p{
 font-weight: 400;
 padding-left: 10px;
 opacity: 0.8;
}

.nutrition table{
    width: 100%;
    margin-top: 16px;
    border-collapse: collapse;
    
}

.nutrition td{
    padding: 0 60px;
    border-bottom: 1px solid black;
}

.nutrition td:nth-child(2){
    color: var(--Brown-800);
}

.nutrition table tr:last-child td{
    border-bottom: none;

}





